.card-small {
    width: 100px;
    height: 130px;
    border:1px solid #eee;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

.card-value {
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.card-type {
    font-size: 30px;
    position: absolute;
    top:40%;
    left:35%;
    transform: (-50%,-50%);
}